<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shift.name %>
</p>

<p>
  <strong>Ical:</strong>
  <%= @shift.ical %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
