<%= form_for(@escalation_series) do |f| %>
  <% if @escalation_series.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@escalation_series.errors.count, "error") %> prohibited this escalation_series from being saved:</h2>

      <ul>
      <% @escalation_series.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :settings %>
    <%= f.text_area :settings, value: @escalation_series.settings.to_yaml, class: 'form-control', rows: 8 %>
  </div>
  <%= f.submit(class: 'btn btn-default') %>
<% end %>
