<%= form_for(@escalation_rule) do |f| %>
  <% if @escalation_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escalation_rule.errors.count, "error") %> prohibited this escalation_rule from being saved:</h2>

      <ul>
      <% @escalation_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
