<h1>Listing escalation_rules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @escalation_rules.each do |escalation_rule| %>
      <tr>
        <td><%= escalation_rule.name %></td>
        <td><%= link_to 'Show', escalation_rule %></td>
        <td><%= link_to 'Edit', edit_escalation_rule_path(escalation_rule) %></td>
        <td><%= link_to 'Destroy', escalation_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Escalation rule', new_escalation_rule_path %>
