<%= form_for(@escalation) do |f| %>
  <% if @escalation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escalation.errors.count, "error") %> prohibited this escalation from being saved:</h2>

      <ul>
      <% @escalation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rule %><br>
    <%= f.text_field :rule %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
