<%= form_for(@escalation) do |f| %>
  <% if @escalation.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@escalation.errors.count, "error") %> prohibited this escalation from being saved:</h2>

      <ul>
      <% @escalation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :escalate_to_id %>
    <%= f.collection_select(:escalate_to_id, User.all, :id, :name, {include_blank: true}, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label :escalate_after_sec %>
    <%= f.number_field :escalate_after_sec, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :escalation_series_id %>
    <%= f.collection_select(:escalation_series_id, EscalationSeries.all, :id, :name, {}, class: 'form-control') %>
  </div>
  <%= f.submit(class: 'btn btn-default') %>
<% end %>
