
<h1>Listing Incidents</h1>

<div class="btn-toolbar" role="toolbar" style="margin-bottom: 15px">
  <div class="btn-group" role="group">
    <%-
    {
      nil => 'All',
      Incident.statuses.values_at(*%w!opened acknowledged!) => 'Opened or Acked',
      Incident.statuses.values_at(*%w!opened!) => 'Opened',
      Incident.statuses.values_at(*%w!acknowledged!) => 'Acked',
      Incident.statuses.values_at(*%w!resolved!) => 'Resolved',
    }.each do |statuses, desc| -%>
      <a href="<%= "?statuses=#{statuses && statuses.join(',')}" %>" class="btn btn-default">
        <%- if statuses == @visible_statuses %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <%- end -%>
        <%= desc %>
      </a>
    <%- end -%>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Topic
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="?topic=all">
        <%- if @visible_topic.nil? -%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <%- end -%>
        All
      </a></li>
      <% Topic.all.each do |topic| %>
        <li><a href="?topic=<%= topic.id %>">
          <%- if @visible_topic == topic.id -%>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <%- end -%>
          <%= topic.name %>
        </a></li>
      <% end %>
    </ul>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Subject</th>
      <th>Topic</th>
      <th>Occured at</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td rowspan="<%= incident.comments.present? ? 2 : 1 %>">
          <% if incident.opened? %>
            <span class="label label-danger">Opened</span>
          <% elsif incident.acknowledged? %>
            <span class="label label-warning">Acknowledged</span>
          <% elsif incident.resolved? %>
            <span class="label label-success">Resolved</span>
          <% end %>
        </td>
        <td><%= incident.subject %></td>
        <td><%= incident.topic.name %></td>
        <td><%= incident.occured_at %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Ack', acknowledge_incident_path(incident, hash: incident.confirmation_hash) %></td>
        <td><%= link_to 'Resolve', resolve_incident_path(incident, hash: incident.confirmation_hash) %></td>
        <td><%= link_to 'Comment', new_incident_comment_path(incident) %></td>
      </tr>
      <% if incident.comments.present? %>
        <tr>
          <td colspan="7">
            <% incident.comments.each_with_index do |comment, i| %>
              <pre style="font-size: xx-small;"><%= auto_link(comment.comment, :html => { :target => '_blank' }) %><br>(<%= comment.user.name %>)</pre>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @incidents %>

<br>

<%= link_to 'Ack All', acknowledge_incidents_path, class: "btn btn-default", method: :patch, data: { confirm: "#{@incidents.count} incidents will be marked as acked. Are you sure?" } %>
<%= link_to 'Resolve All', resolve_incidents_path, class: "btn btn-success", method: :patch, data: { confirm: "#{@incidents.count} incidents will be marked as resolved. Are you sure?" } %>
