
<h1>Listing Incidents</h1>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <a class="btn btn-default" href="?status=all">All</a>
    <a class="btn btn-default" href="?status=opened,acknowledged">Opened or Acked</a>
    <a class="btn btn-default" href="?status=opened">Opened</a>
    <a class="btn btn-default" href="?status=acknowledged">Acked</a>
    <a class="btn btn-default" href="?status=resolved">Resolved</a>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Topic
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="?topic=all">All</a></li>
      <% Topic.all.each do |topic| %>
        <li><a href="?topic=<%= topic.id %>"><%= topic.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Subject</th>
      <th>Topic</th>
      <th>Occured at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td>
          <% if incident.opened? %>
            <span class="label label-danger">Opened</span>
          <% elsif incident.acknowledged? %>
            <span class="label label-warning">Acknowledged</span>
          <% elsif incident.resolved? %>
            <span class="label label-success">Resolved</span>
          <% end %>
        </td>
        <td><%= incident.subject %></td>
        <td><%= incident.topic.name %></td>
        <td><%= incident.occured_at %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Ack', acknowledge_incident_path(incident, hash: incident.confirmation_hash) %></td>
        <td><%= link_to 'Resolve', resolve_incident_path(incident, hash: incident.confirmation_hash) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @incidents %>

<br>

<%= link_to 'New Incident', new_incident_path %>
