
<h1>Listing Incidents</h1>

<div class="btn-toolbar" role="toolbar" style="margin-bottom: 15px">
  <div class="btn-group" role="group">
    <%-
    {
      [] => 'All',
      %w!opened acknowledged! => 'Opened or Acked',
      %w!opened! => 'Opened',
      %w!acknowledged! => 'Acked',
      %w!resolved! => 'Resolved',
    }.each do |statuses, desc| -%>
      <%- status_ids = Incident.statuses.values_at(*statuses) -%>
      <%= link_to desc, "?statuses=#{status_ids.join(',')}", class: "btn btn-default" %>
    <%- end -%>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Topic
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="?topic=all">All</a></li>
      <% Topic.all.each do |topic| %>
        <li><a href="?topic=<%= topic.id %>"><%= topic.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<%- if @visible_statuses -%>
  <p>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Status: <%= @visible_statuses.map {|s| Incident.statuses.invert[s] }.join(', ') %>
  </p>
<%- end -%>

<%- if @visible_topic -%>
  <p>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Topic: <%= Topic.find(@visible_topic).name %>
  </p>
<%- end -%>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Subject</th>
      <th>Topic</th>
      <th>Occured at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td>
          <% if incident.opened? %>
            <span class="label label-danger">Opened</span>
          <% elsif incident.acknowledged? %>
            <span class="label label-warning">Acknowledged</span>
          <% elsif incident.resolved? %>
            <span class="label label-success">Resolved</span>
          <% end %>
        </td>
        <td><%= incident.subject %></td>
        <td><%= incident.topic.name %></td>
        <td><%= incident.occured_at %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Ack', acknowledge_incident_path(incident, hash: incident.confirmation_hash) %></td>
        <td><%= link_to 'Resolve', resolve_incident_path(incident, hash: incident.confirmation_hash) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @incidents %>

<br>

<%= link_to 'Ack All', acknowledge_incidents_path, class: "btn btn-default", method: :patch, data: { confirm: "#{@incidents.count} incidents will be marked as acked. Are you sure?" } %>
<%= link_to 'Resolve All', resolve_incidents_path, class: "btn btn-success", method: :patch, data: { confirm: "#{@incidents.count} incidents will be marked as resolved. Are you sure?" } %>
