<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :kind %>
    <%= f.select :kind, nil, {}, class: 'form-control' do %>
      <% Topic::KINDS.each_with_index do |kind, index| %>
        <%= content_tag(:option, kind.to_s.split('_').map {|s| s.capitalize }.join(' '), value: kind) %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :escalation_series_id %>
    <%= f.collection_select(:escalation_series_id, EscalationSeries.all, :id, :name, {}, class: 'form-control') %>
  </div>
  <div class="checkbox">
    <%= f.label :enabled do %>
      <%= f.check_box :enabled %>
      Enabled
    <% end %>
  </div>
  <%= f.submit(class: 'btn btn-default') %>
<% end %>
