
<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @topic.kind %>
</p>

<p>
  <strong>Escalation Series:</strong>
  <%= @topic.escalation_series.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @topic.enabled ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Mailgun Endpoint:</strong>
  <pre><%= mailgun_topic_url(@topic, format: :json) %></pre>
</p>

<p>
  <strong>Mackerel Endpoint:</strong>
  <pre><%= mackerel_topic_url(@topic, format: :json) %></pre>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
