<%= form_for(@notifier_provider) do |f| %>
  <% if @notifier_provider.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@notifier_provider.errors.count, "error") %> prohibited this notifier_provider from being saved:</h2>

      <ul>
      <% @notifier_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :kind %>
    <%= f.select :kind, nil, {}, class: 'form-control' do %>
      <%= options_for_select(
        NotifierProvider.kinds.map do |kind, _|
          [kind.camelize, kind, {}]
        end, @notifier_provider.kind
      ) %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :settings %>
    <%= f.text_area :settings, value: @notifier_provider.settings.to_yaml, class: 'form-control', rows: 8 %>
  </div>
  <%= f.submit(class: 'btn btn-default') %>
<% end %>
