<%= form_for(@notifier) do |f| %>
  <% if @notifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notifier.errors.count, "error") %> prohibited this notifier from being saved:</h2>

      <ul>
      <% @notifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select(:user_id, User.all, :id, :name, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.label :topic_id %><br>
    <%= f.collection_select(:topic_id, Topic.all, :id, :name, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br>
    <%= f.collection_select(:provider_id, NotifierProvider.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :settings %><br>
    <%= f.text_area :settings, value: @notifier.settings.to_yaml %>
  </div>
  <div class="field">
    <%= f.label :notify_after_sec %><br>
    <%= f.number_field :notify_after_sec %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
