<%= form_for(@notifier) do |f| %>
  <% if @notifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notifier.errors.count, "error") %> prohibited this notifier from being saved:</h2>

      <ul>
      <% @notifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :notify_after %><br>
    <%= f.number_field :notify_after %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
