<%= form_for(@notifier) do |f| %>
  <% if @notifier.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@notifier.errors.count, "error") %> prohibited this notifier from being saved:</h2>

      <ul>
      <% @notifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :name, { include_blank: true }, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label :topic_id %>
    <%= f.collection_select(:topic_id, Topic.all, :id, :name, { include_blank: true }, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label :provider_id %>
    <%= f.collection_select(:provider_id, NotifierProvider.all, :id, :name, {}, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label :settings %>
    <%= f.text_area :settings, value: @notifier.settings.to_yaml, class: 'form-control', rows: 8 %>
  </div>
  <div class="form-group">
    <%= f.label :notify_after_sec %>
    <%= f.number_field :notify_after_sec, min: 5, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :enabled do %>
      <%= f.check_box :enabled %>
      Enabled
    <% end %>
  </div>
  <%= f.submit(class: 'btn btn-default') %>
<% end %>
