
<h1>Listing Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%- unless user.active -%>
            <span class="label label-default">Deactivated</span>
          <%- end -%>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%- if user.active -%>
          <td><%= link_to 'Deactivate', deactivation_user_path(user), method: :patch, data: { confirm: 'Are you sure?' } %></td>
        <%- else -%>
          <td><%= link_to 'Activate', activation_user_path(user), method: :patch, data: { confirm: 'Are you sure?' } %></td>
        <%- end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
