<%= form_for(@event_notifier) do |f| %>
  <% if @event_notifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_notifier.errors.count, "error") %> prohibited this event_notifier from being saved:</h2>

      <ul>
      <% @event_notifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :details_json %><br>
    <%= f.text_area :details_json %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
