<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @event_notifier.kind %>
</p>

<p>
  <strong>Details json:</strong>
  <%= @event_notifier.details_json %>
</p>

<%= link_to 'Edit', edit_event_notifier_path(@event_notifier) %> |
<%= link_to 'Back', event_notifiers_path %>
