<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @provider.type %>
</p>

<p>
  <strong>Details:</strong>
  <%= @provider.details %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
